{
    "openapi": "3.0.0",
    "servers": [
        {
            "url": "https://metering.marketplace.amazonaws.com/"
        },
        {
            "url": "http://metering.marketplace.amazonaws.com/"
        }
    ],
    "x-hasEquivalentPaths": true,
    "info": {
        "contact": {
            "email": "mike.ralphson@gmail.com",
            "name": "Mike Ralphson",
            "url": "https://github.com/mermade/aws2openapi",
            "x-twitter": "PermittedSoc"
        },
        "description": "<fullname>AWS Marketplace Metering Service</fullname> <p>This reference provides descriptions of the low-level AWS Marketplace Metering Service API.</p> <p>AWS Marketplace sellers can use this API to submit usage data for custom usage dimensions.</p> <p> <b>Submitting Metering Records</b> </p> <ul> <li> <p> <i>MeterUsage</i>- Submits the metering record for a Marketplace product. MeterUsage is called from an EC2 instance.</p> </li> <li> <p> <i>BatchMeterUsage</i>- Submits the metering record for a set of customers. BatchMeterUsage is called from a software-as-a-service (SaaS) application.</p> </li> </ul> <p> <b>Accepting New Customers</b> </p> <ul> <li> <p> <i>ResolveCustomer</i>- Called by a SaaS application during the registration process. When a buyer visits your website during the registration process, the buyer submits a Registration Token through the browser. The Registration Token is resolved through this API to obtain a CustomerIdentifier and Product Code.</p> </li> </ul> <p> <b>Entitlement and Metering for Paid Container Products</b> </p> <ul> <li> <p> Paid container software products sold through AWS Marketplace must integrate with the AWS Marketplace Metering Service and call the RegisterUsage operation for software entitlement and metering. Calling RegisterUsage from containers running outside of Amazon Elastic Container Service (Amazon ECR) isn't supported. Free and BYOL products for ECS aren't required to call RegisterUsage, but you can do so if you want to receive usage data in your seller reports. For more information on using the RegisterUsage operation, see <a href=\"https://docs.aws.amazon.com/latest/userguide/entitlement-and-metering-for-paid-products.html\">Container-Based Products</a>. </p> </li> </ul> <p>BatchMeterUsage API calls are captured by AWS CloudTrail. You can use Cloudtrail to verify that the SaaS metering records that you sent are accurate by searching for records with the eventName of BatchMeterUsage. You can also use CloudTrail to audit records over time. For more information, see the <i> <a href=\"http://docs.aws.amazon.com/awscloudtrail/latest/userguide/cloudtrail-concepts.html\">AWS CloudTrail User Guide</a> </i>.</p>",
        "license": {
            "name": "Apache 2.0 License",
            "url": "http://www.apache.org/licenses/"
        },
        "termsOfService": "https://aws.amazon.com/service-terms/",
        "title": "AWSMarketplace Metering",
        "version": "2016-01-14",
        "x-apiClientRegistration": {
            "url": "https://portal.aws.amazon.com/gp/aws/developer/registration/index.html?nc2=h_ct"
        },
        "x-apisguru-categories": [
            "cloud"
        ],
        "x-logo": {
            "backgroundColor": "#FFFFFF",
            "url": "https://api.apis.guru/v2/cache/logo/https_twitter.com_awscloud_profile_image.jpeg"
        },
        "x-origin": [
            {
                "contentType": "application/json",
                "converter": {
                    "url": "https://github.com/mermade/aws2openapi",
                    "version": "1.0.0"
                },
                "url": "https://raw.githubusercontent.com/aws/aws-sdk-js/master/apis/meteringmarketplace-2016-01-14.normal.json",
                "x-apisguru-direct": true
            }
        ],
        "x-preferred": true,
        "x-providerName": "amazonaws.com",
        "x-release": "v4",
        "x-serviceName": "meteringmarketplace"
    },
    "externalDocs": {
        "description": "Amazon Web Services documentation",
        "url": "https://docs.aws.amazon.com/marketplace/"
    },
    "security": [
        {
            "hmac": []
        }
    ],
    "paths": {
        "/": {
            "parameters": [
                {
                    "in": "query",
                    "name": "Action",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "query",
                    "name": "Version",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Content-Sha256",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Date",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Algorithm",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Credential",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Security-Token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Signature",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-SignedHeaders",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "post": {
                "description": "<p>BatchMeterUsage is called from a SaaS application listed on the AWS Marketplace to post metering records for a set of customers.</p> <p>For identical requests, the API is idempotent; requests can be retried with the same records or a subset of the input records.</p> <p>Every request to BatchMeterUsage is for one product. If you need to meter usage for multiple products, you must make multiple calls to BatchMeterUsage.</p> <p>BatchMeterUsage can process up to 25 UsageRecords at a time.</p>",
                "operationId": "BatchMeterUsage",
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "Contains the UsageRecords processed by BatchMeterUsage and any records that have failed due to transient error.",
                                    "properties": {
                                        "Results": {
                                            "description": "Contains all UsageRecords processed by BatchMeterUsage. These records were either honored by AWS Marketplace Metering Service or were invalid.",
                                            "items": {
                                                "description": "A UsageRecordResult indicates the status of a given UsageRecord processed by BatchMeterUsage.",
                                                "properties": {
                                                    "MeteringRecordId": {
                                                        "description": "The MeteringRecordId is a unique identifier for this metering event.",
                                                        "type": "string"
                                                    },
                                                    "Status": {
                                                        "description": "<p>The UsageRecordResult Status indicates the status of an individual UsageRecord processed by BatchMeterUsage.</p> <ul> <li> <p> <i>Success</i>- The UsageRecord was accepted and honored by BatchMeterUsage.</p> </li> <li> <p> <i>CustomerNotSubscribed</i>- The CustomerIdentifier specified is not subscribed to your product. The UsageRecord was not honored. Future UsageRecords for this customer will fail until the customer subscribes to your product.</p> </li> <li> <p> <i>DuplicateRecord</i>- Indicates that the UsageRecord was invalid and not honored. A previously metered UsageRecord had the same customer, dimension, and time, but a different quantity.</p> </li> </ul>",
                                                        "enum": [
                                                            "Success",
                                                            "CustomerNotSubscribed",
                                                            "DuplicateRecord"
                                                        ],
                                                        "type": "string"
                                                    },
                                                    "UsageRecord": {
                                                        "description": "The UsageRecord that was part of the BatchMeterUsage request.",
                                                        "properties": {
                                                            "CustomerIdentifier": {
                                                                "description": "The CustomerIdentifier is obtained through the ResolveCustomer operation and represents an individual buyer in your application.",
                                                                "maxLength": 255,
                                                                "minLength": 1,
                                                                "type": "string"
                                                            },
                                                            "Dimension": {
                                                                "description": "During the process of registering a product on AWS Marketplace, up to eight dimensions are specified. These represent different units of value in your application.",
                                                                "maxLength": 255,
                                                                "minLength": 1,
                                                                "type": "string"
                                                            },
                                                            "Quantity": {
                                                                "description": "The quantity of usage consumed by the customer for the given dimension and time.",
                                                                "maximum": 1000000,
                                                                "minimum": 0,
                                                                "type": "integer"
                                                            },
                                                            "Timestamp": {
                                                                "description": "<p>Timestamp of the hour, recorded in UTC. The seconds and milliseconds portions of the timestamp will be ignored.</p> <p>Your application can meter usage for up to one hour in the past.</p>",
                                                                "format": "date-time",
                                                                "type": "string"
                                                            }
                                                        },
                                                        "required": [
                                                            "Timestamp",
                                                            "CustomerIdentifier",
                                                            "Dimension",
                                                            "Quantity"
                                                        ],
                                                        "type": "object"
                                                    }
                                                },
                                                "type": "object"
                                            },
                                            "type": "array"
                                        },
                                        "UnprocessedRecords": {
                                            "description": "Contains all UsageRecords that were not processed by BatchMeterUsage. This is a list of UsageRecords. You can retry the failed request by making another BatchMeterUsage call with this list as input in the BatchMeterUsageRequest.",
                                            "items": {
                                                "description": "<p>A UsageRecord indicates a quantity of usage for a given product, customer, dimension and time.</p> <p>Multiple requests with the same UsageRecords as input will be deduplicated to prevent double charges.</p>",
                                                "properties": {
                                                    "CustomerIdentifier": {
                                                        "description": "The CustomerIdentifier is obtained through the ResolveCustomer operation and represents an individual buyer in your application.",
                                                        "maxLength": 255,
                                                        "minLength": 1,
                                                        "type": "string"
                                                    },
                                                    "Dimension": {
                                                        "description": "During the process of registering a product on AWS Marketplace, up to eight dimensions are specified. These represent different units of value in your application.",
                                                        "maxLength": 255,
                                                        "minLength": 1,
                                                        "type": "string"
                                                    },
                                                    "Quantity": {
                                                        "description": "The quantity of usage consumed by the customer for the given dimension and time.",
                                                        "maximum": 1000000,
                                                        "minimum": 0,
                                                        "type": "integer"
                                                    },
                                                    "Timestamp": {
                                                        "description": "<p>Timestamp of the hour, recorded in UTC. The seconds and milliseconds portions of the timestamp will be ignored.</p> <p>Your application can meter usage for up to one hour in the past.</p>",
                                                        "format": "date-time",
                                                        "type": "string"
                                                    }
                                                },
                                                "required": [
                                                    "Timestamp",
                                                    "CustomerIdentifier",
                                                    "Dimension",
                                                    "Quantity"
                                                ],
                                                "type": "object"
                                            },
                                            "maxItems": 25,
                                            "minItems": 0,
                                            "type": "array"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "480": {
                        "description": "InternalServiceErrorException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "481": {
                        "description": "InvalidProductCodeException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "482": {
                        "description": "InvalidUsageDimensionException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "483": {
                        "description": "InvalidCustomerIdentifierException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "484": {
                        "description": "TimestampOutOfBoundsException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "485": {
                        "description": "ThrottlingException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "486": {
                        "description": "DisabledApiException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "description": "A BatchMeterUsageRequest contains UsageRecords, which indicate quantities of usage within your application.",
                                "properties": {
                                    "ProductCode": {
                                        "description": "Product code is used to uniquely identify a product in AWS Marketplace. The product code should be the same as the one used during the publishing of a new product.",
                                        "maxLength": 255,
                                        "minLength": 1,
                                        "type": "string"
                                    },
                                    "UsageRecords": {
                                        "description": "The set of UsageRecords to submit. BatchMeterUsage accepts up to 25 UsageRecords at a time.",
                                        "items": {
                                            "description": "<p>A UsageRecord indicates a quantity of usage for a given product, customer, dimension and time.</p> <p>Multiple requests with the same UsageRecords as input will be deduplicated to prevent double charges.</p>",
                                            "properties": {
                                                "CustomerIdentifier": {
                                                    "description": "The CustomerIdentifier is obtained through the ResolveCustomer operation and represents an individual buyer in your application.",
                                                    "maxLength": 255,
                                                    "minLength": 1,
                                                    "type": "string"
                                                },
                                                "Dimension": {
                                                    "description": "During the process of registering a product on AWS Marketplace, up to eight dimensions are specified. These represent different units of value in your application.",
                                                    "maxLength": 255,
                                                    "minLength": 1,
                                                    "type": "string"
                                                },
                                                "Quantity": {
                                                    "description": "The quantity of usage consumed by the customer for the given dimension and time.",
                                                    "maximum": 1000000,
                                                    "minimum": 0,
                                                    "type": "integer"
                                                },
                                                "Timestamp": {
                                                    "description": "<p>Timestamp of the hour, recorded in UTC. The seconds and milliseconds portions of the timestamp will be ignored.</p> <p>Your application can meter usage for up to one hour in the past.</p>",
                                                    "format": "date-time",
                                                    "type": "string"
                                                }
                                            },
                                            "required": [
                                                "Timestamp",
                                                "CustomerIdentifier",
                                                "Dimension",
                                                "Quantity"
                                            ],
                                            "type": "object"
                                        },
                                        "maxItems": 25,
                                        "minItems": 0,
                                        "type": "array"
                                    }
                                },
                                "required": [
                                    "UsageRecords",
                                    "ProductCode"
                                ],
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            }
        },
        "/#MeterUsage": {
            "parameters": [
                {
                    "in": "query",
                    "name": "Action",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "query",
                    "name": "Version",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Content-Sha256",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Date",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Algorithm",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Credential",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Security-Token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Signature",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-SignedHeaders",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "post": {
                "description": "<p>API to emit metering records. For identical requests, the API is idempotent. It simply returns the metering record ID.</p> <p>MeterUsage is authenticated on the buyer's AWS account, generally when running from an EC2 instance on the AWS Marketplace.</p>",
                "operationId": "MeterUsage",
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "MeteringRecordId": {
                                            "description": "Metering record id.",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "480": {
                        "description": "InternalServiceErrorException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "481": {
                        "description": "InvalidProductCodeException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "482": {
                        "description": "InvalidUsageDimensionException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "483": {
                        "description": "InvalidEndpointRegionException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "484": {
                        "description": "TimestampOutOfBoundsException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "485": {
                        "description": "DuplicateRequestException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "486": {
                        "description": "ThrottlingException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "DryRun": {
                                        "description": "Checks whether you have the permissions required for the action, but does not make the request. If you have the permissions, the request returns DryRunOperation; otherwise, it returns UnauthorizedException.",
                                        "type": "boolean"
                                    },
                                    "ProductCode": {
                                        "description": "Product code is used to uniquely identify a product in AWS Marketplace. The product code should be the same as the one used during the publishing of a new product.",
                                        "maxLength": 255,
                                        "minLength": 1,
                                        "type": "string"
                                    },
                                    "Timestamp": {
                                        "description": "Timestamp of the hour, recorded in UTC. The seconds and milliseconds portions of the timestamp will be ignored.",
                                        "format": "date-time",
                                        "type": "string"
                                    },
                                    "UsageDimension": {
                                        "description": "It will be one of the fcp dimension name provided during the publishing of the product.",
                                        "maxLength": 255,
                                        "minLength": 1,
                                        "type": "string"
                                    },
                                    "UsageQuantity": {
                                        "description": "Consumption value for the hour.",
                                        "maximum": 1000000,
                                        "minimum": 0,
                                        "type": "integer"
                                    }
                                },
                                "required": [
                                    "ProductCode",
                                    "Timestamp",
                                    "UsageDimension",
                                    "UsageQuantity",
                                    "DryRun"
                                ],
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            }
        },
        "/#RegisterUsage": {
            "parameters": [
                {
                    "in": "query",
                    "name": "Action",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "query",
                    "name": "Version",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Content-Sha256",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Date",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Algorithm",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Credential",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Security-Token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Signature",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-SignedHeaders",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "post": {
                "description": "<p>Paid container software products sold through AWS Marketplace must integrate with the AWS Marketplace Metering Service and call the RegisterUsage operation for software entitlement and metering. Calling RegisterUsage from containers running outside of ECS is not currently supported. Free and BYOL products for ECS aren't required to call RegisterUsage, but you may choose to do so if you would like to receive usage data in your seller reports. The sections below explain the behavior of RegisterUsage. RegisterUsage performs two primary functions: metering and entitlement.</p> <ul> <li> <p> <i>Entitlement</i>: RegisterUsage allows you to verify that the customer running your paid software is subscribed to your product on AWS Marketplace, enabling you to guard against unauthorized use. Your container image that integrates with RegisterUsage is only required to guard against unauthorized use at container startup, as such a CustomerNotSubscribedException/PlatformNotSupportedException will only be thrown on the initial call to RegisterUsage. Subsequent calls from the same Amazon ECS task instance (e.g. task-id) will not throw a CustomerNotSubscribedException, even if the customer unsubscribes while the Amazon ECS task is still running.</p> </li> <li> <p> <i>Metering</i>: RegisterUsage meters software use per ECS task, per hour, with usage prorated to the second. A minimum of 1 minute of usage applies to tasks that are short lived. For example, if a customer has a 10 node ECS cluster and creates an ECS service configured as a Daemon Set, then ECS will launch a task on all 10 cluster nodes and the customer will be charged: (10 * hourly_rate). Metering for software use is automatically handled by the AWS Marketplace Metering Control Plane -- your software is not required to perform any metering specific actions, other than call RegisterUsage once for metering of software use to commence. The AWS Marketplace Metering Control Plane will also continue to bill customers for running ECS tasks, regardless of the customers subscription state, removing the need for your software to perform entitlement checks at runtime.</p> </li> </ul>",
                "operationId": "RegisterUsage",
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "PublicKeyRotationTimestamp": {
                                            "description": "(Optional) Only included when public key version has expired",
                                            "format": "date-time",
                                            "type": "string"
                                        },
                                        "Signature": {
                                            "description": "JWT Token",
                                            "pattern": "\\S+",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "480": {
                        "description": "InvalidProductCodeException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "481": {
                        "description": "InvalidRegionException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "482": {
                        "description": "InvalidPublicKeyVersionException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "483": {
                        "description": "PlatformNotSupportedException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "484": {
                        "description": "CustomerNotEntitledException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "485": {
                        "description": "ThrottlingException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "486": {
                        "description": "InternalServiceErrorException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "487": {
                        "description": "DisabledApiException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "Nonce": {
                                        "description": "(Optional) To scope down the registration to a specific running software instance and guard against replay attacks.",
                                        "maxLength": 255,
                                        "type": "string"
                                    },
                                    "ProductCode": {
                                        "description": "Product code is used to uniquely identify a product in AWS Marketplace. The product code should be the same as the one used during the publishing of a new product.",
                                        "maxLength": 255,
                                        "minLength": 1,
                                        "type": "string"
                                    },
                                    "PublicKeyVersion": {
                                        "description": "Public Key Version provided by AWS Marketplace",
                                        "minimum": 1,
                                        "type": "integer"
                                    }
                                },
                                "required": [
                                    "ProductCode",
                                    "PublicKeyVersion"
                                ],
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            }
        },
        "/#ResolveCustomer": {
            "parameters": [
                {
                    "in": "query",
                    "name": "Action",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "query",
                    "name": "Version",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Content-Sha256",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Date",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Algorithm",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Credential",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Security-Token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Signature",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-SignedHeaders",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "post": {
                "description": "ResolveCustomer is called by a SaaS application during the registration process. When a buyer visits your website during the registration process, the buyer submits a registration token through their browser. The registration token is resolved through this API to obtain a CustomerIdentifier and product code.",
                "operationId": "ResolveCustomer",
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "The result of the ResolveCustomer operation. Contains the CustomerIdentifier and product code.",
                                    "properties": {
                                        "CustomerIdentifier": {
                                            "description": "The CustomerIdentifier is used to identify an individual customer in your application. Calls to BatchMeterUsage require CustomerIdentifiers for each UsageRecord.",
                                            "maxLength": 255,
                                            "minLength": 1,
                                            "type": "string"
                                        },
                                        "ProductCode": {
                                            "description": "The product code is returned to confirm that the buyer is registering for your product. Subsequent BatchMeterUsage calls should be made using this product code.",
                                            "maxLength": 255,
                                            "minLength": 1,
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "480": {
                        "description": "InvalidTokenException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "481": {
                        "description": "ExpiredTokenException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "482": {
                        "description": "ThrottlingException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "483": {
                        "description": "InternalServiceErrorException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "484": {
                        "description": "DisabledApiException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "description": "Contains input to the ResolveCustomer operation.",
                                "properties": {
                                    "RegistrationToken": {
                                        "description": "When a buyer visits your website during the registration process, the buyer submits a registration token through the browser. The registration token is resolved to obtain a CustomerIdentifier and product code.",
                                        "pattern": "\\S+",
                                        "type": "string"
                                    }
                                },
                                "required": [
                                    "RegistrationToken"
                                ],
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            }
        }
    },
    "components": {
        "schemas": {
            "BatchMeterUsageRequest": {
                "description": "A BatchMeterUsageRequest contains UsageRecords, which indicate quantities of usage within your application.",
                "properties": {
                    "ProductCode": {
                        "description": "Product code is used to uniquely identify a product in AWS Marketplace. The product code should be the same as the one used during the publishing of a new product.",
                        "maxLength": 255,
                        "minLength": 1,
                        "type": "string"
                    },
                    "UsageRecords": {
                        "description": "The set of UsageRecords to submit. BatchMeterUsage accepts up to 25 UsageRecords at a time.",
                        "items": {
                            "description": "<p>A UsageRecord indicates a quantity of usage for a given product, customer, dimension and time.</p> <p>Multiple requests with the same UsageRecords as input will be deduplicated to prevent double charges.</p>",
                            "properties": {
                                "CustomerIdentifier": {
                                    "description": "The CustomerIdentifier is obtained through the ResolveCustomer operation and represents an individual buyer in your application.",
                                    "maxLength": 255,
                                    "minLength": 1,
                                    "type": "string"
                                },
                                "Dimension": {
                                    "description": "During the process of registering a product on AWS Marketplace, up to eight dimensions are specified. These represent different units of value in your application.",
                                    "maxLength": 255,
                                    "minLength": 1,
                                    "type": "string"
                                },
                                "Quantity": {
                                    "description": "The quantity of usage consumed by the customer for the given dimension and time.",
                                    "maximum": 1000000,
                                    "minimum": 0,
                                    "type": "integer"
                                },
                                "Timestamp": {
                                    "description": "<p>Timestamp of the hour, recorded in UTC. The seconds and milliseconds portions of the timestamp will be ignored.</p> <p>Your application can meter usage for up to one hour in the past.</p>",
                                    "format": "date-time",
                                    "type": "string"
                                }
                            },
                            "required": [
                                "Timestamp",
                                "CustomerIdentifier",
                                "Dimension",
                                "Quantity"
                            ],
                            "type": "object"
                        },
                        "maxItems": 25,
                        "minItems": 0,
                        "type": "array"
                    }
                },
                "required": [
                    "UsageRecords",
                    "ProductCode"
                ],
                "type": "object"
            },
            "BatchMeterUsageResult": {
                "description": "Contains the UsageRecords processed by BatchMeterUsage and any records that have failed due to transient error.",
                "properties": {
                    "Results": {
                        "description": "Contains all UsageRecords processed by BatchMeterUsage. These records were either honored by AWS Marketplace Metering Service or were invalid.",
                        "items": {
                            "description": "A UsageRecordResult indicates the status of a given UsageRecord processed by BatchMeterUsage.",
                            "properties": {
                                "MeteringRecordId": {
                                    "description": "The MeteringRecordId is a unique identifier for this metering event.",
                                    "type": "string"
                                },
                                "Status": {
                                    "description": "<p>The UsageRecordResult Status indicates the status of an individual UsageRecord processed by BatchMeterUsage.</p> <ul> <li> <p> <i>Success</i>- The UsageRecord was accepted and honored by BatchMeterUsage.</p> </li> <li> <p> <i>CustomerNotSubscribed</i>- The CustomerIdentifier specified is not subscribed to your product. The UsageRecord was not honored. Future UsageRecords for this customer will fail until the customer subscribes to your product.</p> </li> <li> <p> <i>DuplicateRecord</i>- Indicates that the UsageRecord was invalid and not honored. A previously metered UsageRecord had the same customer, dimension, and time, but a different quantity.</p> </li> </ul>",
                                    "enum": [
                                        "Success",
                                        "CustomerNotSubscribed",
                                        "DuplicateRecord"
                                    ],
                                    "type": "string"
                                },
                                "UsageRecord": {
                                    "description": "The UsageRecord that was part of the BatchMeterUsage request.",
                                    "properties": {
                                        "CustomerIdentifier": {
                                            "description": "The CustomerIdentifier is obtained through the ResolveCustomer operation and represents an individual buyer in your application.",
                                            "maxLength": 255,
                                            "minLength": 1,
                                            "type": "string"
                                        },
                                        "Dimension": {
                                            "description": "During the process of registering a product on AWS Marketplace, up to eight dimensions are specified. These represent different units of value in your application.",
                                            "maxLength": 255,
                                            "minLength": 1,
                                            "type": "string"
                                        },
                                        "Quantity": {
                                            "description": "The quantity of usage consumed by the customer for the given dimension and time.",
                                            "maximum": 1000000,
                                            "minimum": 0,
                                            "type": "integer"
                                        },
                                        "Timestamp": {
                                            "description": "<p>Timestamp of the hour, recorded in UTC. The seconds and milliseconds portions of the timestamp will be ignored.</p> <p>Your application can meter usage for up to one hour in the past.</p>",
                                            "format": "date-time",
                                            "type": "string"
                                        }
                                    },
                                    "required": [
                                        "Timestamp",
                                        "CustomerIdentifier",
                                        "Dimension",
                                        "Quantity"
                                    ],
                                    "type": "object"
                                }
                            },
                            "type": "object"
                        },
                        "type": "array"
                    },
                    "UnprocessedRecords": {
                        "description": "Contains all UsageRecords that were not processed by BatchMeterUsage. This is a list of UsageRecords. You can retry the failed request by making another BatchMeterUsage call with this list as input in the BatchMeterUsageRequest.",
                        "items": {
                            "description": "<p>A UsageRecord indicates a quantity of usage for a given product, customer, dimension and time.</p> <p>Multiple requests with the same UsageRecords as input will be deduplicated to prevent double charges.</p>",
                            "properties": {
                                "CustomerIdentifier": {
                                    "description": "The CustomerIdentifier is obtained through the ResolveCustomer operation and represents an individual buyer in your application.",
                                    "maxLength": 255,
                                    "minLength": 1,
                                    "type": "string"
                                },
                                "Dimension": {
                                    "description": "During the process of registering a product on AWS Marketplace, up to eight dimensions are specified. These represent different units of value in your application.",
                                    "maxLength": 255,
                                    "minLength": 1,
                                    "type": "string"
                                },
                                "Quantity": {
                                    "description": "The quantity of usage consumed by the customer for the given dimension and time.",
                                    "maximum": 1000000,
                                    "minimum": 0,
                                    "type": "integer"
                                },
                                "Timestamp": {
                                    "description": "<p>Timestamp of the hour, recorded in UTC. The seconds and milliseconds portions of the timestamp will be ignored.</p> <p>Your application can meter usage for up to one hour in the past.</p>",
                                    "format": "date-time",
                                    "type": "string"
                                }
                            },
                            "required": [
                                "Timestamp",
                                "CustomerIdentifier",
                                "Dimension",
                                "Quantity"
                            ],
                            "type": "object"
                        },
                        "maxItems": 25,
                        "minItems": 0,
                        "type": "array"
                    }
                },
                "type": "object"
            },
            "Boolean": {
                "type": "boolean"
            },
            "CustomerIdentifier": {
                "maxLength": 255,
                "minLength": 1,
                "type": "string"
            },
            "CustomerNotEntitledException": {},
            "DisabledApiException": {},
            "DuplicateRequestException": {},
            "ExpiredTokenException": {},
            "InternalServiceErrorException": {},
            "InvalidCustomerIdentifierException": {},
            "InvalidEndpointRegionException": {},
            "InvalidProductCodeException": {},
            "InvalidPublicKeyVersionException": {},
            "InvalidRegionException": {},
            "InvalidTokenException": {},
            "InvalidUsageDimensionException": {},
            "MeterUsageRequest": {
                "properties": {
                    "DryRun": {
                        "description": "Checks whether you have the permissions required for the action, but does not make the request. If you have the permissions, the request returns DryRunOperation; otherwise, it returns UnauthorizedException.",
                        "type": "boolean"
                    },
                    "ProductCode": {
                        "description": "Product code is used to uniquely identify a product in AWS Marketplace. The product code should be the same as the one used during the publishing of a new product.",
                        "maxLength": 255,
                        "minLength": 1,
                        "type": "string"
                    },
                    "Timestamp": {
                        "description": "Timestamp of the hour, recorded in UTC. The seconds and milliseconds portions of the timestamp will be ignored.",
                        "format": "date-time",
                        "type": "string"
                    },
                    "UsageDimension": {
                        "description": "It will be one of the fcp dimension name provided during the publishing of the product.",
                        "maxLength": 255,
                        "minLength": 1,
                        "type": "string"
                    },
                    "UsageQuantity": {
                        "description": "Consumption value for the hour.",
                        "maximum": 1000000,
                        "minimum": 0,
                        "type": "integer"
                    }
                },
                "required": [
                    "ProductCode",
                    "Timestamp",
                    "UsageDimension",
                    "UsageQuantity",
                    "DryRun"
                ],
                "type": "object"
            },
            "MeterUsageResult": {
                "properties": {
                    "MeteringRecordId": {
                        "description": "Metering record id.",
                        "type": "string"
                    }
                },
                "type": "object"
            },
            "NonEmptyString": {
                "pattern": "\\S+",
                "type": "string"
            },
            "Nonce": {
                "maxLength": 255,
                "type": "string"
            },
            "PlatformNotSupportedException": {},
            "ProductCode": {
                "maxLength": 255,
                "minLength": 1,
                "type": "string"
            },
            "RegisterUsageRequest": {
                "properties": {
                    "Nonce": {
                        "description": "(Optional) To scope down the registration to a specific running software instance and guard against replay attacks.",
                        "maxLength": 255,
                        "type": "string"
                    },
                    "ProductCode": {
                        "description": "Product code is used to uniquely identify a product in AWS Marketplace. The product code should be the same as the one used during the publishing of a new product.",
                        "maxLength": 255,
                        "minLength": 1,
                        "type": "string"
                    },
                    "PublicKeyVersion": {
                        "description": "Public Key Version provided by AWS Marketplace",
                        "minimum": 1,
                        "type": "integer"
                    }
                },
                "required": [
                    "ProductCode",
                    "PublicKeyVersion"
                ],
                "type": "object"
            },
            "RegisterUsageResult": {
                "properties": {
                    "PublicKeyRotationTimestamp": {
                        "description": "(Optional) Only included when public key version has expired",
                        "format": "date-time",
                        "type": "string"
                    },
                    "Signature": {
                        "description": "JWT Token",
                        "pattern": "\\S+",
                        "type": "string"
                    }
                },
                "type": "object"
            },
            "ResolveCustomerRequest": {
                "description": "Contains input to the ResolveCustomer operation.",
                "properties": {
                    "RegistrationToken": {
                        "description": "When a buyer visits your website during the registration process, the buyer submits a registration token through the browser. The registration token is resolved to obtain a CustomerIdentifier and product code.",
                        "pattern": "\\S+",
                        "type": "string"
                    }
                },
                "required": [
                    "RegistrationToken"
                ],
                "type": "object"
            },
            "ResolveCustomerResult": {
                "description": "The result of the ResolveCustomer operation. Contains the CustomerIdentifier and product code.",
                "properties": {
                    "CustomerIdentifier": {
                        "description": "The CustomerIdentifier is used to identify an individual customer in your application. Calls to BatchMeterUsage require CustomerIdentifiers for each UsageRecord.",
                        "maxLength": 255,
                        "minLength": 1,
                        "type": "string"
                    },
                    "ProductCode": {
                        "description": "The product code is returned to confirm that the buyer is registering for your product. Subsequent BatchMeterUsage calls should be made using this product code.",
                        "maxLength": 255,
                        "minLength": 1,
                        "type": "string"
                    }
                },
                "type": "object"
            },
            "String": {
                "type": "string"
            },
            "ThrottlingException": {},
            "Timestamp": {
                "format": "date-time",
                "type": "string"
            },
            "TimestampOutOfBoundsException": {},
            "UsageDimension": {
                "maxLength": 255,
                "minLength": 1,
                "type": "string"
            },
            "UsageQuantity": {
                "maximum": 1000000,
                "minimum": 0,
                "type": "integer"
            },
            "UsageRecord": {
                "description": "<p>A UsageRecord indicates a quantity of usage for a given product, customer, dimension and time.</p> <p>Multiple requests with the same UsageRecords as input will be deduplicated to prevent double charges.</p>",
                "properties": {
                    "CustomerIdentifier": {
                        "description": "The CustomerIdentifier is obtained through the ResolveCustomer operation and represents an individual buyer in your application.",
                        "maxLength": 255,
                        "minLength": 1,
                        "type": "string"
                    },
                    "Dimension": {
                        "description": "During the process of registering a product on AWS Marketplace, up to eight dimensions are specified. These represent different units of value in your application.",
                        "maxLength": 255,
                        "minLength": 1,
                        "type": "string"
                    },
                    "Quantity": {
                        "description": "The quantity of usage consumed by the customer for the given dimension and time.",
                        "maximum": 1000000,
                        "minimum": 0,
                        "type": "integer"
                    },
                    "Timestamp": {
                        "description": "<p>Timestamp of the hour, recorded in UTC. The seconds and milliseconds portions of the timestamp will be ignored.</p> <p>Your application can meter usage for up to one hour in the past.</p>",
                        "format": "date-time",
                        "type": "string"
                    }
                },
                "required": [
                    "Timestamp",
                    "CustomerIdentifier",
                    "Dimension",
                    "Quantity"
                ],
                "type": "object"
            },
            "UsageRecordList": {
                "items": {
                    "description": "<p>A UsageRecord indicates a quantity of usage for a given product, customer, dimension and time.</p> <p>Multiple requests with the same UsageRecords as input will be deduplicated to prevent double charges.</p>",
                    "properties": {
                        "CustomerIdentifier": {
                            "description": "The CustomerIdentifier is obtained through the ResolveCustomer operation and represents an individual buyer in your application.",
                            "maxLength": 255,
                            "minLength": 1,
                            "type": "string"
                        },
                        "Dimension": {
                            "description": "During the process of registering a product on AWS Marketplace, up to eight dimensions are specified. These represent different units of value in your application.",
                            "maxLength": 255,
                            "minLength": 1,
                            "type": "string"
                        },
                        "Quantity": {
                            "description": "The quantity of usage consumed by the customer for the given dimension and time.",
                            "maximum": 1000000,
                            "minimum": 0,
                            "type": "integer"
                        },
                        "Timestamp": {
                            "description": "<p>Timestamp of the hour, recorded in UTC. The seconds and milliseconds portions of the timestamp will be ignored.</p> <p>Your application can meter usage for up to one hour in the past.</p>",
                            "format": "date-time",
                            "type": "string"
                        }
                    },
                    "required": [
                        "Timestamp",
                        "CustomerIdentifier",
                        "Dimension",
                        "Quantity"
                    ],
                    "type": "object"
                },
                "maxItems": 25,
                "minItems": 0,
                "type": "array"
            },
            "UsageRecordResult": {
                "description": "A UsageRecordResult indicates the status of a given UsageRecord processed by BatchMeterUsage.",
                "properties": {
                    "MeteringRecordId": {
                        "description": "The MeteringRecordId is a unique identifier for this metering event.",
                        "type": "string"
                    },
                    "Status": {
                        "description": "<p>The UsageRecordResult Status indicates the status of an individual UsageRecord processed by BatchMeterUsage.</p> <ul> <li> <p> <i>Success</i>- The UsageRecord was accepted and honored by BatchMeterUsage.</p> </li> <li> <p> <i>CustomerNotSubscribed</i>- The CustomerIdentifier specified is not subscribed to your product. The UsageRecord was not honored. Future UsageRecords for this customer will fail until the customer subscribes to your product.</p> </li> <li> <p> <i>DuplicateRecord</i>- Indicates that the UsageRecord was invalid and not honored. A previously metered UsageRecord had the same customer, dimension, and time, but a different quantity.</p> </li> </ul>",
                        "enum": [
                            "Success",
                            "CustomerNotSubscribed",
                            "DuplicateRecord"
                        ],
                        "type": "string"
                    },
                    "UsageRecord": {
                        "description": "The UsageRecord that was part of the BatchMeterUsage request.",
                        "properties": {
                            "CustomerIdentifier": {
                                "description": "The CustomerIdentifier is obtained through the ResolveCustomer operation and represents an individual buyer in your application.",
                                "maxLength": 255,
                                "minLength": 1,
                                "type": "string"
                            },
                            "Dimension": {
                                "description": "During the process of registering a product on AWS Marketplace, up to eight dimensions are specified. These represent different units of value in your application.",
                                "maxLength": 255,
                                "minLength": 1,
                                "type": "string"
                            },
                            "Quantity": {
                                "description": "The quantity of usage consumed by the customer for the given dimension and time.",
                                "maximum": 1000000,
                                "minimum": 0,
                                "type": "integer"
                            },
                            "Timestamp": {
                                "description": "<p>Timestamp of the hour, recorded in UTC. The seconds and milliseconds portions of the timestamp will be ignored.</p> <p>Your application can meter usage for up to one hour in the past.</p>",
                                "format": "date-time",
                                "type": "string"
                            }
                        },
                        "required": [
                            "Timestamp",
                            "CustomerIdentifier",
                            "Dimension",
                            "Quantity"
                        ],
                        "type": "object"
                    }
                },
                "type": "object"
            },
            "UsageRecordResultList": {
                "items": {
                    "description": "A UsageRecordResult indicates the status of a given UsageRecord processed by BatchMeterUsage.",
                    "properties": {
                        "MeteringRecordId": {
                            "description": "The MeteringRecordId is a unique identifier for this metering event.",
                            "type": "string"
                        },
                        "Status": {
                            "description": "<p>The UsageRecordResult Status indicates the status of an individual UsageRecord processed by BatchMeterUsage.</p> <ul> <li> <p> <i>Success</i>- The UsageRecord was accepted and honored by BatchMeterUsage.</p> </li> <li> <p> <i>CustomerNotSubscribed</i>- The CustomerIdentifier specified is not subscribed to your product. The UsageRecord was not honored. Future UsageRecords for this customer will fail until the customer subscribes to your product.</p> </li> <li> <p> <i>DuplicateRecord</i>- Indicates that the UsageRecord was invalid and not honored. A previously metered UsageRecord had the same customer, dimension, and time, but a different quantity.</p> </li> </ul>",
                            "enum": [
                                "Success",
                                "CustomerNotSubscribed",
                                "DuplicateRecord"
                            ],
                            "type": "string"
                        },
                        "UsageRecord": {
                            "description": "The UsageRecord that was part of the BatchMeterUsage request.",
                            "properties": {
                                "CustomerIdentifier": {
                                    "description": "The CustomerIdentifier is obtained through the ResolveCustomer operation and represents an individual buyer in your application.",
                                    "maxLength": 255,
                                    "minLength": 1,
                                    "type": "string"
                                },
                                "Dimension": {
                                    "description": "During the process of registering a product on AWS Marketplace, up to eight dimensions are specified. These represent different units of value in your application.",
                                    "maxLength": 255,
                                    "minLength": 1,
                                    "type": "string"
                                },
                                "Quantity": {
                                    "description": "The quantity of usage consumed by the customer for the given dimension and time.",
                                    "maximum": 1000000,
                                    "minimum": 0,
                                    "type": "integer"
                                },
                                "Timestamp": {
                                    "description": "<p>Timestamp of the hour, recorded in UTC. The seconds and milliseconds portions of the timestamp will be ignored.</p> <p>Your application can meter usage for up to one hour in the past.</p>",
                                    "format": "date-time",
                                    "type": "string"
                                }
                            },
                            "required": [
                                "Timestamp",
                                "CustomerIdentifier",
                                "Dimension",
                                "Quantity"
                            ],
                            "type": "object"
                        }
                    },
                    "type": "object"
                },
                "type": "array"
            },
            "UsageRecordResultStatus": {
                "enum": [
                    "Success",
                    "CustomerNotSubscribed",
                    "DuplicateRecord"
                ],
                "type": "string"
            },
            "VersionInteger": {
                "minimum": 1,
                "type": "integer"
            }
        },
        "parameters": {
            "Action": {
                "in": "query",
                "name": "Action",
                "required": true,
                "schema": {
                    "type": "string"
                }
            },
            "Version": {
                "in": "query",
                "name": "Version",
                "required": true,
                "schema": {
                    "type": "string"
                }
            },
            "X-Amz-Algorithm": {
                "in": "header",
                "name": "X-Amz-Algorithm",
                "required": false,
                "schema": {
                    "type": "string"
                }
            },
            "X-Amz-Content-Sha256": {
                "in": "header",
                "name": "X-Amz-Content-Sha256",
                "required": false,
                "schema": {
                    "type": "string"
                }
            },
            "X-Amz-Credential": {
                "in": "header",
                "name": "X-Amz-Credential",
                "required": false,
                "schema": {
                    "type": "string"
                }
            },
            "X-Amz-Date": {
                "in": "header",
                "name": "X-Amz-Date",
                "required": false,
                "schema": {
                    "type": "string"
                }
            },
            "X-Amz-Security-Token": {
                "in": "header",
                "name": "X-Amz-Security-Token",
                "required": false,
                "schema": {
                    "type": "string"
                }
            },
            "X-Amz-Signature": {
                "in": "header",
                "name": "X-Amz-Signature",
                "required": false,
                "schema": {
                    "type": "string"
                }
            },
            "X-Amz-SignedHeaders": {
                "in": "header",
                "name": "X-Amz-SignedHeaders",
                "required": false,
                "schema": {
                    "type": "string"
                }
            }
        },
        "securitySchemes": {
            "hmac": {
                "description": "Amazon Signature authorization v4",
                "in": "header",
                "name": "Authorization",
                "type": "apiKey",
                "x-amazon-apigateway-authtype": "awsSigv4"
            }
        }
    }
}